@import "./_variables.scss";

.experience-section-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 2em 0;
        flex-wrap: wrap;
        transition: .5s ease-in-out;
        
        .experience-item {
            width: 30%;
            max-width: 30%;
            margin-bottom: 2em;
            border: 1px solid $default-purple;
            box-shadow: 0px 0px 10px $default-purple;
            border-radius: 6px;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: .8s ease-in-out;

            small {
                color: $light-gray;
            }

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }

            h3 {
                margin: 1em 0 2em 0;
                font-family: Montserrat;
            }

            a {
                color: #FFF;
                border-radius: 5px;
                font-size: .7rem;
                text-decoration: none;
                transition: 2s ease-in-out;
                width: fit-content;
            }

            a:hover {
                text-decoration: underline;
                transition: 2s ease-in-out;
            }
        }

        .experience-item:hover {
            background-color: $default-purple;
            box-shadow: 0px 0px 20px $default-purple;
            cursor: default;
        }
    }
}