* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white { color: #FFF; }
.gray { color: gray; }

.section-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;

    button {
        color: #FFF;
        background: none;
        border: none;
        font-family: Montserrat;
        font-size: .8rem;
        transition: .5s ease-in-out;
        margin-left: 1em;
    }

    button:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.section-widget {
    padding: 3em 0;
}